<div class="navbar">
    <div class="profile pad-8 menu-item">
        
    </div>
    <!-- <div class="unlocks pad-8 menu-item">
        <button mat-button class="menu-button shadow">Unlocks</button>
    </div> -->
    <div class="managers pad-8 menu-item">
        <button mat-button class="menu-button shadow" (click)="openManagersDialog()">Managers</button>
    </div>
    <!-- <div class="investors pad-8 menu-item">
        <button mat-button class="menu-button shadow" (click)="openInvestorsDialog()">Investors</button>
    </div> -->
</div>