.manager-container {
    width: 100%;
    text-align: center;
    height: 500px;
    .heading {

    }
    .sub-heading {

    }
    .hire-detail {

    }
    .managers {
        
        .manager {
            justify-content: center;
        align-items: center;
            .profle-pic {

            }
            .details {
                .name {

                }
                .business {

                }
                .fees {

                }
            }
        }
        .buy-btn {

        }
    }
}