.game-board {
    background-color: white;
    width: 70vw;
    height: 560px;
    margin: 40px auto;
    padding: 24px;
    border-radius: 16px;
    background: #ecf0f3;
    box-shadow:
        4px 4px 4px 0px #d1d9e6 inset,
        -4px -4px 4px 0px #ffffff inset;
    .body {
        flex: 1;
        .header {
            justify-content: space-between;
            font-size: 32px;
            font-weight: bold;
            font-family: fantasy;
            .scoreboard {

            }
            .buy-more {

            }
        }
        .game-controller {
            height: -webkit-fill-available;
            .business {
                width: min-content;
            }
        }

    }
    
}